[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
collation-server = utf8mb4_unicode_520_ci
init-connect='SET NAMES utf8mb4'
character-set-server = utf8mb4
sql-mode="NO_ENGINE_SUBSTITUTION"

#Performance tuning!
# The size of the buffer pool used for caching data and indexes
innodb_buffer_pool_size = 12G
innodb_read_io_threads = 8
innodb_write_io_threads = 8
innodb_thread_concurrency = 0
innodb_log_buffer_size = 256M
innodb_log_file_size = 2G
thread_pool_size = 32
query_cache_type = 1
query_cache_size = 512M
query_cache_limit = 4M
optimizer_switch = index_merge=on,index_condition_pushdown=on

key_buffer_size = 512M
tmp_table_size = 128M
max_heap_table_size = 128M
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT

# Logging and Monitoring
slow_query_log = 1
slow_query_log_file = /sql/slow.log
long_query_time = 2
log_queries_not_using_indexes = 1

[mysqldump]
quick
max_allowed_packet = 16M